/*gallery starts*/


.subImagesContainer {
  padding: 0;
  width: 984px;
  margin: 0 auto;
  margin-bottom: 100px;
  @include bp(tablet){
    width: 80%;
  }
  @include bp(mobile){
    width: 80%;
  }
 }

.desciption{
  width: 80%;
  margin: 0 auto;
  height: 100px;
  overflow-y: scroll;
  overflow-x:hidden;
  margin-bottom: 20px;
}


::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    background: transparent;
}


::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 2px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

 .catagory{
   width: 984px;
   margin: 0 auto;
   padding-bottom: 20px;
   padding-top: 10px;
   font-size: 24px;
   font-weight: bold;
   @include bp(mobile){
     width: 80%;
     font-weight: bold;
   }
 }


 #portTitle{
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
 }

.thumb {
  width: 320px;
  height: 180px;
  overflow: hidden;
  margin-right: 8px;
  border: 1px solid #2d2d2d;
  padding: 2px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  transition:  transform 0.2s ease-in;
  @include bp(tablet){
    width: 48%;
    height: 100%;
  @include bp(mobile){
    padding: 2px;
    width: 100%;
    height: 200%;
    margin-right: 0px;
    z-index: 1;
  }
}
  &:hover{
    opacity: 0.8;
    transform: scale(1.03);
  }
}

video{
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 5px;
    border: 1px solid white;
    @include bp(mobile){
      width: 90%;
  }
}

.lightbox {
  position: fixed;
  z-index: 14;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.85);
  @include bp(mobile){
    height: 300%;
    overflow: hidden;
    overflow-y: hidden;
  }
  h1{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  p{
    text-align: center;
    font-size: 16px;
  }
  .prev{
    width: 75px;
    height: 75px;
    background-color: grey;
    cursor: pointer;
    left: 50px;
    margin-bottom: 20px;
    position: absolute;
  }

  .next{
    width: 75px;
    height: 75px;
    background-color: grey;
    cursor: pointer;
    right: 50px;
    position: absolute;
    margin-bottom: 20px;
  }
}

.close-lightbox{
  float: right;
  margin-right: 18px;
  margin-top: 12px;
  font-size: 2em;
  cursor: pointer;
}

.lightbox-img{
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 5px;
  border: 1px solid white;
  @include bp(mobile){
    width: 90%;
  }
}



#close{
  transition: color 0.3s ease-in;
  transition: transform 0.2s ease-in;
  &:hover{
    color: grey;
    transform: rotate(-90deg);
  }
}


.buttons{
  width: 326px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 60px;
    button{
      cursor: pointer;
      border: none;
      background: white;
      color: #52a2da;
      border: 1px solid #52a2da;
      padding: 8px;
      font-size: 15px;
      border-radius: 0px;

        &:hover{
          background: #52a2da;
          color: white;
          transition: 0.5s;
    }
    &:focus{
      background: #52a2da;
      color: white;
    }
  }
}

.hidden{
  display:none !important;
}


/*gallery ends*/
