#navB {
  background-image: url(../images/background.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #2d2d2d;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
}

.Down{
    position: absolute;
    display: block;
    width: 247px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    -webkit-animation: move 1s;
    animation-iteration-count:infinite;
  h1{
  font-size: 18px;
  margin-top: 60px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease;
  &:hover{
    opacity: 1;
  }
}
}

@-webkit-keyframes move {
  from {top: 0px;}
  to {top: 5px;}
  }

  @-moz-keyframes move {
    from {top: 0px;}
    to {top: 5px;}
    }


      @keyframes move {
        from {top: 0px;}
        to {top: 5px;}
        }

.street{
  display: none;
}

.preloader{
  @include bp(mobile) {
    display: none;
  }
  @include bp(tablet){
    display: none;
  }
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 0;
  margin: 0;
video{
  width: 100%;
  height: 100%;
  border: none;
  }
}

.arrow{
  @include bp(mobile) {
    margin-left: 15px;
    margin-top: 18px;
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 30px solid white;
    transition: all 0.3s ease;
  }
  @include bp(tablet){
    margin-left: 15px;
    margin-top: 18px;
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 30px solid white;
    transition: all 0.3s ease;
  }
margin-left: 10px;
margin-top: 13px;
width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-bottom: 20px solid white;
transition: all 0.3s ease;
  &:hover{
    transform: scale(1.1);
  }
}


.top{
  @include bp(mobile) {
    width: 75px;
    height: 75px;
    border-radius: 15px;

  }
  @include bp(tablet){
    width: 75px;
    height: 75px;
    border-radius: 15px;
  }
  z-index: 4;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 25px;
  background-color: #52a2da;
  text-align: center;
  text-decoration: none;
  display: none;
  opacity: 0.8;
  transition: all 0.3s ease;
    &:hover{
      background-color: #52a2da;
      opacity: 1;
    }
}


.homeLogo{
  width: 100px;
  margin: 0 auto;
  margin-top: 100px;
  img{
    width: 100%;
    border: solid black 1px;
  }
}

.message{
  text-align: center;
  color: white;
  margin-top: 50px;
}

.headerLogo{
  float: right;
  width: 60px;
  margin-top: 6px;
  margin-right: 15px;
  index: 8;
}

.navCon{
  font-family:"Arial";
  width:100%;
  float: left;
  background-image: url(../images/background2.png) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-blend-mode: overlay;
  background-color: overlay;
  background-color: #4487cc;
}



.navigation{
  width: 960px;
  margin: 0 auto;
  index: 7;
  ul li{
    display: inline;
    a{
      font-weight: bold;
      font-size: 14px;
      color: white;
      display:inline-block;
      height: 15px;
      line-height:65px;
      margin:0px;
      padding:0px 15px;
      text-decoration:none;
      transition: color 0.3s ease-in;
      margin-bottom: 50px;
      cursor: pointer;
      &:hover{
        color: #4487CC;
      }
    }
  }
}

.sidenav {
  @include bp(mobileup){
    display: none;
  }
}


@media only screen and (max-width: 1024px){
  .navigation{
    display: none;
  }
  .logo{
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    img{
      width: 100%;
    }
  }


  .sidenav {
      z-index: 3;
      list-style-type: none;
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      background-image: url(../images/background4.png);
      background-position: center center;
      background-repeat:  no-repeat;
      background-size: 400px;

      li {
      a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: white;
          display: block;
          transition: 0.3s;
          cursor: pointer;
      }
    }
  }


  .social{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  display: block;
  width: 119px;
  margin-top: 50px;
  img{
  margin-right: 7px;
  padding-left: 5px;
  padding-right: 5px;
  width: 35px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
   &:hover{
   cursor: pointer;
   opacity: 0.8;
   }
  }

  }



  #fb{
  width: 22px;
  }

  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      &:hover{
        color: grey;
      }
  }

  .myCell{
    color: white;
    font-size: 12px;
    text-align: center;
  }

  .bar1{
      width: 35px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      border-radius: 20px;
  }

  .bar2{
      width: 35px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      border-radius: 20px;
  }
  .bar3{
      width: 35px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      border-radius: 20px;
  }

  .hamburger{
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: -40px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-image: url(../images/nav_background.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-blend-mode: overlay;
  }

  .Stickyhamburger{
    z-index: 2;
    display: none;
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: fixed;
    background-image: url(../images/nav_background.png) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-blend-mode: overlay;
  }
}


@media only screen and (max-width: 768px){

.navigation{
  display: none;
}

.logo{
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  img{
    width: 100%;
  }
}


.sidenav {
    z-index: 3;
    list-style-type: none;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-image: url(../images/background4.png) ;
    background-position: center center;
    background-repeat:  no-repeat;

    li {
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }
  }
}


.social{
position: absolute;
margin: auto;
left: 0;
right: 0;
bottom: 10px;
display: block;
width: 119px;
margin-top: 50px;
img{
margin-right: 7px;
padding-left: 5px;
padding-right: 5px;
width: 35px;
cursor: pointer;
transition: opacity 0.2s ease-in;
 &:hover{
 cursor: pointer;
 opacity: 0.8;
 }
}

}



#fb{
width: 22px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    &:hover{
      color: grey;
    }
}

.myCell{
  color: white;
  font-size: 12px;
  text-align: center;
}

.bar1{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 20px;
}

.bar2{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 20px;
}
.bar3{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 20px;
}

.hamburger{
  padding-top: 8px;
  padding-left: 15px;
  margin-bottom: -40px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-image: url(../images/mobile_nav_header.png) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-blend-mode: overlay;
}

.Stickyhamburger{
  z-index: 2;
  display: none;
  padding-top: 8px;
  padding-left: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: fixed;
  background-image: url(../images/mobile_nav_header.png) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-blend-mode: overlay;
}

}
